body {
    background-color: #282828;
    color: #fff;
    font-family: "Helvetica Neue", "Arial", "sans-serif";
    margin: 0;
    padding: 0;
}

#container {
    margin: 20% auto;
    width: 740px;
}

#route {
    border-radius: 30px;
    height: 200px;
    width: 390px;
    background: #0076a9 url("/images/bus.png") no-repeat 10px 10px;
}

#route.subway {
    background: #779e91 url("/images/subway.png") no-repeat 10px 10px;
}

#route.tram {
    background: #ba9d17 url("/images/tram.png") no-repeat 10px 10px;
}

#route.trolleybus {
    background: #873a35 url("/images/trolleybus.png") no-repeat 10px 10px;
}

#route p {
    float: left;
    font-size: 85px;
    font-weight: bold;
    margin: 50px 0 0 170px;
    text-align: center;
    width: 200px;
}

#time {
    border-radius: 30px;
    float: left;
    height: 200px;
    margin: -200px 420px;
    width: 340px;
}

#time p {
    font-size: 85px;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
    width: 100%;
}

#time.green {
    background-color: #6e9753;
}

#time.red {
    background-color: #b34640;
}